.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.containerProduct {
    flex: 1 1 250px;
    padding: 10px
}

.containerProduct img {
    width: 100%;
}

.containerInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerInfo h1 {
    font-size: 18px;
}

.container p {
    font-size: 12px;
    margin: 0
}